body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', monospace;
  height: 100vh;
  background: url("face_image.png") no-repeat center center fixed;
  background-size: cover;
  color: #00ffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.terminal {
  background: rgba(0, 0, 0, 0.85);
  border: 2px solid #00ffff;
  padding: 2rem;
  box-shadow: 0 0 15px #00ffff;
  width: 90%;
  max-width: 800px;
  height: 80vh;
  overflow-y: auto;
  color: #00ffff;
}

.output {
  white-space: pre-wrap;
  margin-bottom: 1em;
  color: #00ffff;
}

.input-line {
  display: flex
